<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script type="text/javascript" src="./angular.min.js"></script>
  <style type="text/css">
    span {
      color: red;
    }
    input[type='text'].ng-invalid {
      border: 1px solid red;
      outline: none;
    }
   input[type='text'].ng-pristine {
    border: 1px solid black;
    outline: none;
   }
    input[type='text'].ng-valid {
      border: 1px solid lightgreen;
      outline: none;
    }
  </style>
</head>
<body>
  <div ng-controller="myController">
      <form name="form">
        <p>
          <input type="text" ng-model="key" name="search" required novalidate>
          <span ng-show="form.search.$dirty && form.search.$invalid">
            <span ng-show="form.search.$error.required">请输入搜索关健词</span>
          </span>


        </p>
        <p>
         <input type="text" ng-model="text" name="content" required novalidate>
         <span ng-show="form.content.$dirty && form.content.$invalid">
          <span ng-show="form.content.$error.required">链接文字呢？</span>
        </span>
      </p>
        <p>
          <input type="submit" value="提交">
        </p>
      </form>
        <ul>
          <li ng-repeat="item in list">
            {{item.name}}--{{item.age|qwfg}}
          </li>
        </ul>
        <div my-directive my-url="{{key}}" my-link-text="{{text}}"></div>
    </div>
    <script type="text/javascript">
      var app = angular.module('app',[]);
      app.controller('myController', ['$scope','myService',function($scope,myService){
            $scope.$watch('key',function (key) {
              var tmp = [];
              var data = myService.getUserInfo();
              for (var i = 0; i < data.length; i++) {
                if (data[i].name.indexOf(key) > -1) {
                  tmp.push(data[i]);
                }
              }
              $scope.list = tmp;
            })
      }])
      app.factory('myService', function(){
        var data = [
            {"name":"zhangsan","age":21232131},
            {"name":"lisi","age":243131},
            {"name":"wangwu","age":2631313133}
          ];
        var serviceIns = {};
        serviceIns.getUserInfo = function () {
          return data;
        }
        return serviceIns;
      })
      app.filter('qwfg',function () {
        return function (input) {
          var str = (input || 0).toString();
          var count = 0;
          var result = '';
          for (var i = str.length - 1; i >= 0; i--) {
            // console.log(i);
            count ++;
            result = str.charAt(i) + result;
            if (i!= 0 && !(count%3) ) {
              result = ',' + result;
            }
          }
          return result;
        }
      })

      app.directive('myDirective',function () {
        return {
          restrict:'AE',
          priority:0,
          replace:true,
          scope:{
            myUrl:'@',
            myLinkText:'@'
          },
          // template:'<a href="{{myUrl}}">{{myLinkText}}</a>'
          templateUrl:'./temp/a.html'
        }
      })
    </script>
</body>
</html>
