<table>
	<tr>
		<th>方法</th>
		<th>对应值</th>
	</tr>
	<tr>
		<td>path</td>
		<td>{{path}}</td>
	</tr>
	<tr>
		<td>absUrl</td>
		<td>{{absUrl}}</td>
	</tr>
	<tr>
		<td>hash</td>
		<td>{{hash}}</td>
	</tr>
	<tr>
		<td>host</td>
		<td>{{host}}</td>
	</tr>
	<tr>
		<td>port</td>
		<td>{{port}}</td>
	</tr>
	<tr>
		<td>protocol</td>
		<td>{{protocol}}</td>
	</tr>
	<tr>
		<td>search</td>
		<td>{{search}}</td>
	</tr>
	<tr>
		<td>url</td>
		<td>{{url}}</td>
	</tr>

</table>
<p>
	<button type="button" ng-click="link()">点击一下</button>
</p>
<p>
	<button type="button" ng-click="search()">search一下</button>
</p>
<p>
	<button type="button" ng-click="fix()">fix一下</button>
</p>